.job-container{
    display: flex;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    padding: 0 25px;
    align-items: center;
    margin-bottom: 20px;
    height: 120px;
    justify-content: space-between;
}

.company-logo{
    width: 15%;
}

.job-info{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.job-info h2{
    margin-top: 0;
}

.job-details{
    display: flex;
}

.detail p{
    margin: 0;
    font-size: 16px;
}

.detail{
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail img{
    width: 10%;
    margin-right: 5px;
}

.job-title{
    text-decoration: none;
    color: black;
}

.job-title:hover{
    color: #a204fd;
}