.jobs-board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar-input{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 0;
    padding-left: 10px;
    font-size: 16px;
}

.search-bar-input:focus{
    box-shadow: #a204fd7e 0px 1px 4px;   
}

.search-order{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;
    align-items: baseline;
}
