.register-form,
.login-form {
  height: 350px;
  background-image: linear-gradient(
    to top,
    rgba(162, 4, 253, 0.7),
    rgba(250, 197, 7, 0.7)
  );
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
}

.register-form form {
  display: flex;
  flex-direction: column;
}

.input-group,
.form-group {
  position: relative;
  margin-bottom: 23px;
}

.register-login-input{
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 12px;
  height: 28px;
  padding-left: 10px;
  color: white;
}

.register-login-input:focus {
  outline: none;
}

.register-login-input::placeholder {
  color: white;
}

h1 {
  text-align: center;
  color: white;
}

.relative {
  position: relative;
}

.form-group {
  display: flex;
  gap: 20px;
}

.register-form button,
.login-form button {
  background-color: white;
  border: none;
  border-radius: 20px;
  color: #a204fd;
  cursor: pointer;
  padding: 10px 18px;
  font-size: 14px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  align-self: center;
}

.register-form button:active,
.login-form button:active {
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
  transform: translateY(2px); 
}

.error {
  color: red;
  font-size: 12px;
  position: absolute;
  top: 35px;
  left: 5px;
}
