.user-details{
    width: 95%;
    display: flex;
    margin-bottom: 20px;
}

.user-details img{
  border-radius: 50%; 
  width: 160px; 
  height: 160px; 
  object-fit: cover; 
}

.user-details-image-container{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    gap: 10px;
}

.user-details-buttons-container{
    display: flex;
    gap: 5px;
}

.user-details-buttons-container button{
    background-color: #a204fd;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 6px 13px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 14px;
}

.user-details-info{
    border-left: 4px solid;
    border-image: linear-gradient(to top, rgba(162, 4, 253, 0.47), rgba(250, 197, 7, 0.47)) 1;
    padding-left: 20px;
    width: 70%;
}

.application{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;
}

.application p, .user-details-info p{
    margin: 5px;
}

.short-info{
    display: flex;
    align-items: center;
}

i:hover{
    color: #a204fd;
    cursor: pointer;
}

.status-applied{
    font-weight: 800;
    color: #2192FF;
}

.status-in-progress{
    font-weight: 800;
    color: #FFDB5C;
}

.status-completed{
    font-weight: 800;
    color: #38E54D;
}

.status-rejected{
    font-weight: 800;
    color: #FF1E1E;
}

.title{
    font-weight: 800;
}